<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gerontechies.semonaid">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.PasswordActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Services.ServiceItemActivity" />
        <activity android:name=".Activities.Services.ServiceCategoryActivity" />
        <activity android:name=".Activities.Services.ServicesCategoryList" />
        <activity android:name=".Activities.Services.ServicesAllActivity" />
        <activity android:name=".Activities.Services.ServiceInfoActivity" />
        <activity android:name=".Activities.Budget.Calculator.SummaryActivity" />
        <activity android:name=".Activities.Budget.Calculator.TransportActivity" />
        <activity android:name=".Activities.Budget.Calculator.PersonalActivity" />
        <activity android:name=".Activities.Budget.Calculator.BillsActivity" />
        <activity android:name=".Activities.Budget.Calculator.HousingExpensesActivity" />
        <activity android:name=".Activities.Budget.Calculator.IncomeActivity" />
        <activity android:name=".Activities.Budget.BudgetMainMenuActivity" />
        <activity android:name=".Activities.Budget.BudgetInfoActivity" />
        <activity android:name=".Activities.Budget.Tips.GeneralTips1Activity" />
        <activity android:name=".Activities.Budget.Tips.GeneralTips2Activity" />
        <activity android:name=".Activities.Budget.Tips.GeneralTipsActivity" />
        <activity android:name=".Activities.Budget.Tips.BankingTipsActivity" />
        <activity android:name=".Activities.Budget.Tips.BankingTips1Activity" />
        <activity android:name=".Activities.Budget.Tips.BankingTips2Activity" />
        <activity android:name=".Activities.Budget.Tips.TravelTipsActivity" />
        <activity android:name=".Activities.Budget.Tips.TravelTips1Activity" />
        <activity android:name=".Activities.Budget.Tips.TravelTips2Activity" />
        <activity android:name=".Activities.Budget.Tips.OtherTipsActivity" />
        <activity android:name=".Activities.Budget.Tips.OtherTips1Activity" />
        <activity android:name=".Activities.Budget.Tips.OtherTips2Activity" />
        <activity android:name=".Activities.Budget.Tips.OtherTips3Activity" />
        <activity android:name=".Activities.Budget.Tips.OtherTips4Activity" />
        <activity android:name=".Activities.Budget.Tips.OtherTips5Activity" />
        <activity android:name=".Activities.Budget.Tips.OtherTips6Activity" />
        <activity android:name=".Activities.Budget.Tips.OtherTips7Activity" />
        <activity android:name=".Activities.Budget.Tips.BillsTipsMenuActivity" />
        <activity android:name=".Activities.Budget.Tips.ElecBillTipsActivity" />
        <activity android:name=".Activities.Budget.Tips.ElecBillTips1Activity" />
        <activity android:name=".Activities.Budget.Tips.ElecBillTips2Activity" />
        <activity android:name=".Activities.Budget.Tips.ElecBillTips3Activity" />
        <activity android:name=".Activities.Budget.Tips.ElecBillTips4Activity" />
        <activity android:name=".Activities.Budget.Tips.ElecBillTips5Activity" />
        <activity android:name=".Activities.Budget.Tips.WaterBillTipsActivity" />
        <activity android:name=".Activities.Budget.Tips.WaterBillTips1Activity" />
        <activity android:name=".Activities.Budget.Tips.WaterBillTips2Activity" />
        <activity android:name=".Activities.Budget.Tips.WaterBillTips3Activity" />
        <activity android:name=".Activities.Budget.Tips.WaterBillTips4Activity" />
        <activity android:name=".Activities.Budget.Tips.FoodBillTipsActivity" />
        <activity android:name=".Activities.Budget.Tips.FoodBillTips1Activity" />
        <activity android:name=".Activities.Budget.Tips.FoodBillTips2Activity" />
        <activity android:name=".Activities.Budget.Tips.GasBillTipsActivity" />
        <activity android:name=".Activities.Budget.Tips.MobileBillTipsActivity" />
        <activity android:name=".Activities.Budget.Tips.TipsMenuActivity" />
        <activity android:name=".Activities.HomeScreenActivity" />
        <activity android:name=".Activities.SplashActivity">

        </activity>
    </application>

</manifest>