<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gerontechies.semonaid">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--    <permission android:name="A"></permission>-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.Budgeting.SummaryActivity" />
        <activity android:name=".Activities.Budgeting.TransportActivity" />
        <activity android:name=".Activities.Budgeting.PersonalActivity" />
        <activity android:name=".Activities.Budgeting.BillsActivity" />
        <activity android:name=".Activities.Budgeting.HousingExpensesActivity" />
        <activity android:name=".Activities.Budgeting.IncomeActivity" />
        <activity android:name=".Activities.Budgeting.BudgetMainMenuActivity" />
        <activity android:name=".Activities.Budgeting.BudgetInfoActivity" />
        <activity android:name=".Activities.Budgeting.GeneralTips1Activity" />
        <activity android:name=".Activities.Budgeting.GeneralTips2Activity" />
        <activity android:name=".Activities.Budgeting.GeneralTipsActivity" />
        <activity android:name=".Activities.Budgeting.BankingTipsActivity" />
        <activity android:name=".Activities.Budgeting.BankingTips1Activity" />
        <activity android:name=".Activities.Budgeting.BankingTips2Activity" />
        <activity android:name=".Activities.Budgeting.TravelTipsActivity" />
        <activity android:name=".Activities.Budgeting.TravelTips1Activity" />
        <activity android:name=".Activities.Budgeting.TravelTips2Activity" />
        <activity android:name=".Activities.Budgeting.OtherTipsActivity" />
        <activity android:name=".Activities.Budgeting.OtherTips1Activity" />
        <activity android:name=".Activities.Budgeting.OtherTips2Activity" />
        <activity android:name=".Activities.Budgeting.OtherTips3Activity" />
        <activity android:name=".Activities.Budgeting.OtherTips4Activity" />
        <activity android:name=".Activities.Budgeting.OtherTips5Activity" />
        <activity android:name=".Activities.Budgeting.OtherTips6Activity" />
        <activity android:name=".Activities.Budgeting.OtherTips7Activity" />
        <activity android:name=".Activities.Budgeting.BillsTipsMenuActivity" />
        <activity android:name=".Activities.Budgeting.ElecBillTipsActivity" />
        <activity android:name=".Activities.Budgeting.ElecBillTips1Activity" />
        <activity android:name=".Activities.Budgeting.ElecBillTips2Activity" />
        <activity android:name=".Activities.Budgeting.ElecBillTips3Activity" />
        <activity android:name=".Activities.Budgeting.ElecBillTips4Activity" />
        <activity android:name=".Activities.Budgeting.ElecBillTips5Activity" />
        <activity android:name=".Activities.Budgeting.WaterBillTipsActivity" />
        <activity android:name=".Activities.Budgeting.WaterBillTips1Activity" />
        <activity android:name=".Activities.Budgeting.WaterBillTips2Activity" />
        <activity android:name=".Activities.Budgeting.WaterBillTips3Activity" />
        <activity android:name=".Activities.Budgeting.WaterBillTips4Activity" />
        <activity android:name=".Activities.Budgeting.FoodBillTipsActivity" />
        <activity android:name=".Activities.Budgeting.FoodBillTips1Activity" />
        <activity android:name=".Activities.Budgeting.FoodBillTips2Activity" />
        <activity android:name=".Activities.Budgeting.GasBillTipsActivity" />
        <activity android:name=".Activities.Budgeting.MobileBillTipsActivity" />
        <activity android:name=".Activities.Budgeting.TipsMenuActivity" />
        <activity android:name=".Activities.HomeScreenActivity" />
        <activity android:name=".Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>